* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(-90deg, #333, #ccc);
}

.header {
    display: flex;
    align-items: center;
    background: #000000;
    padding: 10px 20px;
    color: white;
}
.logo img{
    width: 200px;
    height: auto;

}
.search{
    margin-left: 50px;
    margin-top: 10px;
    width: 600px;
    height: 50px;
    display: flex;
}
#tim_kiem{
    height: 40px;
    width: 500px;
}
#search_button{
    height: 40px;
    width: 40px;
}
.extra{
    display: flex;
}

.hotline{
    justify-content: center;
    padding-top: 5px;
}

#cart_button{
    height: 40px;
    width: 40px;
    margin-left: 40px;
}
.log_out button{
    width: 80px;
    height: 40px;
    background-color:#FFA500;
    margin-left: 50px;
    border-radius: 6px;
    border: #FFA500;
}

.content{
    display: flex;
    width: 100%;
}


