* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(-90deg, #333, #ccc);
}

.header {
    display: flex;
    align-items: center;
    background: #000000;
    padding: 10px 20px;
    color: white;
}
.logo img{
    width: 200px;
    height: auto;

}
.search{
    margin-left: 50px;
    margin-top: 10px;
    width: 600px;
    height: 50px;
    display: flex;
}
#tim_kiem{
    height: 40px;
    width: 500px;
}
#search_button{
    height: 40px;
    width: 40px;
}
.extra{
    display: flex;
}


.hotline{
    justify-content: center;
    padding-top: 5px;
}

#cart_button{
    height: 40px;
    width: 40px;
    margin-left: 40px;
    margin-right: 30px;
}

.order_history_button img{
    height: 40px;
    width: 40px;
    border-radius: 6px;
    margin-right: 20px;
}

.extra .user_section{
    display: flex;
    margin-left: 40px;
}

.dropdown .log_out button{
    width: 100%;
    height: 40px;
    background-color:#FFA500;
    border: #FFA500;
}

.username {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 80px;
    padding: 10px;
    background-color: #f0f0f0;
}

.username span{
    color: #000000;
}
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    min-width: 82px;
    z-index: 1;
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown a:hover {
    background-color: #f2f2f2;
}

.username:hover .dropdown {
    display: block;
}
.content{
    margin:auto;
    margin-top: 40px;
    text-align: center;
    width: 500px;
    height: 400px;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
}

.top{
    font-size : 40px;
}

.login_form{
    border: 2px none #000000;
    border-bottom-style: solid;
    padding-left: 10px;
    height: 50px;
    margin-left: 25px;
    margin-bottom: 20px;
}

#save_button{
    font-size: 15px;
    padding: 5px;
    border: 2px solid #FFA500;
    border-radius: 6px;
    background-color: #FFA500;
    width: 120px;
    height: 40px;
    box-sizing: border-box;
}