<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
    <title th:text="${pageTitle} ?: 'Danh mục sản phẩm'">Danh mục sản phẩm</title>
  <link rel="stylesheet" th:href="@{/css/category.css}">
  <link rel="stylesheet" th:if="${category == 'phone'}" th:href="@{/css/phone.css}">
    <link rel="stylesheet" th:if="${category == 'laptop'}" th:href="@{/css/laptop.css}">
    <link rel="stylesheet" th:if="${category == 'tablet'}" th:href="@{/css/tablet.css}">
    <link rel="stylesheet" th:if="${category == 'accessories'}" th:href="@{/css/accessories.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header class="header">
    <div class="logo">
        <img th:src="@{/css/imgs_oop/Logo.png}" alt="Logo">
    </div>

    <div class = "search">
     <form>
        <input
            placeholder = "Tìm kiếm sản phẩm"
            id = "tim_kiem"
            size = "80"
        >
     </form>
     <button id = "search_button" class="fa-solid fa-magnifying-glass"></button>
    </div>

    <div class = "extra">
        <span class="hotline">Hotline:<br> 0834784586</span>
        <div class ="cart_button">
            <a th:href="@{/cart}">
                <button type="button" id = "cart_button" class="fa-solid fa-cart-plus"></button>
            </a>
        </div>
        <div class = "log_out">
            <form th:action="@{/logout}" method="post">
                <button type="submit">Đăng xuất</button>
            </form>
        </div>
    </div>    
  </header>
 
  <nav id="brand_list">
      <ul>
          <li id="ten_hang">Hãng</li>
          <li th:each="brand : ${brands}">
              <form th:action="@{/brand/{name}(name=${brand})}" method="get">
                  <button type="submit" th:text="${brand}">Brand</button>
              </form>
          </li>
      </ul>
  </nav>

  <div class = "content">
  <nav id = "price_list">
    <ul>
      <li id = "muc_gia">Mức giá</li>
      <li>
        <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=3000000, maxPrice=5000000)}" method = "get">
          <button type = "submit">Từ 3-5 triệu</button>
        </form>
      </li>
      <li>
        <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=5000000, maxPrice=8000000)}" method = "get">
          <button type = "submit">Từ 5-8 triệu</button>
        </form>
      </li>
      <li>
        <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=8000000, maxPrice=11000000)}" method = "get">
          <button type = "submit">Từ 8-11 triệu</button>
        </form>
      </li>
      <li>
        <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=11000000, maxPrice=15000000)}" method = "get">
          <button type = "submit">Từ 11-15 triệu</button>
        </form>
      </li>
      <li>
        <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=15000000, maxPrice=20000000)}" method = "get">
          <button type = "submit">Từ 15-20 triệu</button>
        </form>
      </li>
      <li>
        <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=20000000, maxPrice=999900000)}" method = "get">
          <button type = "submit">Trên 20 triệu</button>
        </form>
      </li>
    </ul>
  </nav>
  <div class = "best_sellers">
  <h2>Gợi ý cho bạn: </h2>  
  <nav id = "best_sellers">
      <ul>
          <li th:each="img, stat : ${images}">
              <img th:src="@{'/css/imgs_oop/' + ${img}}" alt="img"/>
              <h3 th:text="${names[stat.index]}">Tên sản phẩm</h3>
          </li>
      </ul>
  </nav>
  </div>
  </div>
</body>
</html>