<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SELLHUB - Đăng nhập tài khoản</title>
    <link rel="stylesheet" th:href="@{/css/change-email-username.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
<header class = "header">
    <div class="logo">
        <a th:href="@{/back-to-home}">
            <img th:src="@{/css/imgs_oop/Logo.png}" alt="Logo" />
        </a>
    </div>

    <div class = "search">
        <form th:action="@{/search}" method="get">
            <input
                    placeholder = "Tìm kiếm sản phẩm"
                    name = "keyword"
                    id = "tim_kiem"
                    size = "80"
            />
            <button type="submit" id="search_button" class="fa-solid fa-magnifying-glass"></button>
        </form>
    </div>

    <div class = "extra">
        <span class="hotline">Hotline:<br> 0834784586</span>

        <div class ="cart_button">
            <a th:href="@{/cart}">
                <button type="button" id = "cart_button" class="fa-solid fa-cart-plus"></button>
            </a>
        </div>
        <div class="order_history_button">
            <a th:href="@{/order/my-orders}">
                <img th:src="@{/css/imgs_oop/order-history.png}" alt="Order-History" title = "Lịch sử mua hàng" />
            </a>
        </div>
        <div th:if="${username != null}" class="user_section">
            <div class="username">
                👤 <span th:text="${username}">Username</span>
                <div class="dropdown">
                    <a th:href="@{/personal}">Hồ sơ</a>
                    <form th:action="@{/logout}" class = "log_out" method="post" style="display:inline;">
                        <button type="submit">
                            Đăng xuất
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Nếu chưa đăng nhập: hiện Đăng nhập / Đăng ký -->
        <div th:if="${username == null}" style ="margin-top:10px;">
            <a th:href="@{/login}" style="color: white;">Đăng nhập</a> |
            <a th:href="@{/register}" style="color: white;">Đăng ký</a>
        </div>

    </div>
</header>

<div class = "content">
    <h1 id="dang_nhap" class="top">Đổi tên người dùng</h1>
    <br/>
    <div id = "error" th:if="${error}" style="color: red;">
        <p th:text="${error}">Lỗi đăng nhập</p>
    </div >
    <br/>
    <!-- Form đổi mật khẩu -->
    <form th:action="@{/change-username}" method="post">
        <label for= "mat_khau_cu"></label><input
            type="text"
            id="mat_khau_cu"
            name="oldEmail"
            class="login_form"
            size="40"
            placeholder="Nhập tên người dùng cũ"
            required
    />
        <br/>
        <label for="mat_khau_moi"></label><input
            type="text"
            id = "mat_khau_moi"
            name="newEmail"
            class="login_form"
            size="40"
            placeholder="Nhập tên người dùng mới"
            required
    />
        <br/>
        <label for="xac_nhan"></label><input
            type="password"
            id="xac_nhan"
            name="password"
            class="login_form"
            size="40"
            placeholder="Xác nhận mật khẩu"
            required
    />
        <p class="top">
            <button type="submit" id="save_button">Lưu</button>
        </p>
    </form>
</div>
</body>
</html>