<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Trang chủ</title>
  <link rel="stylesheet" th:href="@{/css/home.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header class="header">
        <div class="logo">
            <a th:href="@{/back-to-home}">
                <img th:src="@{/css/imgs_oop/Logo.png}" alt="Logo" />
            </a>
        </div>

    <div class = "search">
     <form th:action="@{/search}" method="get">
        <input
            placeholder = "Tìm kiếm sản phẩm"
            name = "keyword"
            id = "tim_kiem"
            size = "80"
        >
         <button type="submit" id="search_button" class="fa-solid fa-magnifying-glass"></button>
     </form>
    </div>

    <div class = "extra">
        <span class="hotline">Hotline:<br> 0834784586</span>

        <div class ="cart_button">
            <a th:href="@{/cart}">
                <button type="button" id = "cart_button" class="fa-solid fa-cart-plus"></button>
            </a>
        </div>
        <div class = "log_out">
            <form th:action="@{/logout}" method="post">
                <button type="submit">Đăng xuất</button>
            </form>
        </div>
        
    </div>    
  </header>
 
  <nav id="brand_list">
      <ul>
          <li id="ten_hang">Danh mục sản phẩm</li>
          <!-- Trang home.html -->
          <li>
              <form th:action="@{/category/phone}" method="get">
                  <button type="submit">Điện thoại</button>
              </form>
          </li>
          <li>
              <form th:action="@{/category/laptop}" method="get">
                  <button type="submit">Laptop</button>
              </form>
          </li>
          <li>
              <form th:action="@{/category/tablet}" method="get">
                  <button type="submit">Máy tính bảng</button>
              </form>
          </li>
          <li>
              <form th:action="@{/category/accessories}" method="get">
                  <button type="submit">Phụ kiện</button>
              </form>
          </li>
          <li>
              <form th:action="@{/category/secondHand}" method="get">
                  <button type="submit">Secondhand</button>
              </form>
          </li>
      </ul>

      </ul>
  </nav>

  
  <div class = "best_sellers">
  <h2>Gợi ý cho bạn: </h2>  
  <nav id = "best_sellers">
        <ul>
           <li>
                
           </li>
        </ul>
  </nav>
  </div>
</body>
</html>