<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Trang chủ</title>
  <link rel="stylesheet" th:href="@{/css/home.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header class="header">
        <div class="logo">
            <a th:href="@{/back-to-home}">
                <img th:src="@{/css/imgs_oop/Logo.png}" alt="Logo" />
            </a>
        </div>

    <div class = "search">
     <form th:action="@{/search}" method="get">
         <input
            placeholder = "Tìm kiếm sản phẩm"
            name = "keyword"
            id = "tim_kiem"
            size = "80"
        />
         <button type="submit" id="search_button" class="fa-solid fa-magnifying-glass"></button>
     </form>
    </div>

    <div class = "extra">
        <span class="hotline">Hotline:<br> 0834784586</span>

        <div class ="cart_button">
            <a th:href="@{/cart}">
                <button type="button" id = "cart_button" class="fa-solid fa-cart-plus" title = "Giỏ hàng"></button>
            </a>
        </div>
        <div class="order_history_button">
            <a th:href="@{/order/my-orders}">
                <img th:src="@{/css/imgs_oop/order-history.png}" alt="Order-History" title = "Lịch sử mua hàng" />
            </a>
        </div>
        <div th:if="${username != null}" class="user_section">
            <a th:href="@{/personal}" id = "account" style="color: white; text-decoration: none;">
                <span>
                    Xin chào, <strong th:text="${username}">Username</strong>
                </span>
            </a>
            <div class="log_out">
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Đăng xuất</button>
                </form>
            </div>
        </div>

        <!-- Nếu chưa đăng nhập: hiện Đăng nhập / Đăng ký -->
        <div th:if="${username == null}" style ="margin-top:10px;">
            <a th:href="@{/login}" style="color: white;">Đăng nhập</a> |
            <a th:href="@{/register}" style="color: white;">Đăng ký</a>
        </div>
        
    </div>    
  </header>
  <div th:if="${message}" class="success-message" style="color: green; font-weight: bold; margin: 10px;">
      <p th:text="${message}"></p>
  </div>
  <nav id="brand_list">
      <ul>
          <li id="ten_hang">Danh mục sản phẩm</li>
          <!-- Trang home.html -->
          <li>
              <form th:action="@{/category/phone}" method="get">
                  <button type="submit">Điện thoại</button>
              </form>
          </li>
          <li>
              <form th:action="@{/category/laptop}" method="get">
                  <button type="submit">Laptop</button>
              </form>
          </li>
          <li>
              <form th:action="@{/category/tablet}" method="get">
                  <button type="submit">Máy tính bảng</button>
              </form>
          </li>
          <li>
              <form th:action="@{/category/accessories}" method="get">
                  <button type="submit">Phụ kiện</button>
              </form>
          </li>
      </ul>
  </nav>

  
  <div class = "best_sellers">
  <h2>Gợi ý cho bạn: </h2>  
  <nav id = "best_sellers">
        <ul>
            <li>
                <a th:href="@{'/product/' + ${12}}">
                    <img th:src="@{/css/imgs_oop/Iphone16ProMax.jpg}" alt="Iphone 16 Pro Max"/>
                </a>
                <h3>Iphone 16 Pro Max</h3>
            </li>
            <li>
                <a th:href="@{'/product/' + ${9}}">
                    <img th:src="@{/css/imgs_oop/HuaweiPura70.jpg}" alt="Huawei Pura 70"/>
                </a>
                <h3>Huawei Pura 70</h3>
            </li>
            <li>
                <a th:href="@{'/product/' + ${19}}">
                    <img th:src="@{/css/imgs_oop/SamsungGalaxyZFold6.jpg}" alt="Samsung Galaxy ZFold 6"/>
                </a>
                <h3>Samsung Galaxy ZFold 6</h3>
            </li>
        </ul>
  </nav>
  </div>
</body>
</html>