<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SELLHUB - Đăng nhập tài khoản</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
  </head>
  <body>
    <header>
      <h1>Welcome to our mall!!</h1>
    </header>

    <div id = "big">
      <h1 id="dang_nhap" class="top">Đăng nhập</h1>
    <div id = "error" th:if="${error}" style="color: red;">
      <p th:text="${error}">Lỗi đăng nhập</p>
    </div >
    <br/>

  <!-- Form đăng nhập -->
    <form th:action="@{/login}" method="post">
      <label for="tai_khoan"></label><input
            type="text"
            id="tai_khoan"
            name="username"
            class="login_form"
            size="40"
            placeholder="Nhập email, tên đăng nhập, số điện thoại"
            required
      />
      <br/>
      <label for="mat_khau"></label><input
            type="password"
            id="mat_khau"
            name="password"
            class="login_form"
            size="40"
            placeholder="Nhập mật khẩu"
            required
      />
      <br/>
      <p class="top">
      <button type="submit" id="dangnhap_button">Đăng nhập</button>
      </p>
    </form>

  <!-- Link đăng ký -->
  <p class = "top">
    Bạn chưa có tài khoản?
    <a th:href="@{/register}">
      <button type="button" id = "dangky_button">Đăng ký</button>
    </a>
  </p>
</div>
</body>
</html>
