<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Diện thoại</title>
  <link rel="stylesheet" th:href="@{/css/phone.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header class="header">
    <div class="logo">
        <img th:src="@{/css/imgs_oop/Logo.png}" alt="Logo">
    </div>

    <div class = "search">
     <form>
        <input
            placeholder = "Tìm kiếm sản phẩm"
            id = "tim_kiem"
            size = "80"
        >
     </form>
     <button id = "search_button" class="fa-solid fa-magnifying-glass"></button>
    </div>

    <div class = "extra">
        <span class="hotline">Hotline:<br> 0834784586</span>
        <button type="button" id = "cart_button" class="fa-solid fa-cart-plus"></button>
        <button type="submit" class="log_out">Đăng xuất</button>      
    </div>    
  </header>
 
  <nav id="brand_list">
      <ul>
          <li id="ten_hang">Hãng</li>
          <li>
            <form th:action = "@{/brand/{name}(name = 'Apple')}" method = "get">
              <button type="submit">Apple</button>
            </form>
          </li>
          
          <li>
            <form th:action = "@{/brand/{name}(name = 'Samsung')}" method = "get">
              <button type="submit">Samsung</button>
            </form>
          </li>

          <li>
            <form th:action = "@{/brand/{name}(name = 'Xiaomi')}" method = "get">
              <button type="submit">Xiaomi</button>
            </form>
          </li>

          <li>
            <form th:action = "@{/brand/{name}(name = 'Nokia')}" method = "get">
              <button type="submit">Nokia</button>
            </form>
          </li>

          <li>
            <form th:action = "@{/brand/{name}(name = 'Huawei')}" method = "get">
              <button type="submit">Huawei</button>
            </form>
          </li>

          <li>
            <form th:action = "@{/brand/{name}(name = 'Vivo')}" method = "get">
              <button type="submit">Vivo</button>
            </form>
          </li>

          <li>
            <form th:action = "@{/brand/{name}(name = 'Oppo')}" method = "get">
              <button type="submit">Oppo</button>
            </form>
          </li>

          <li>
            <form th:action = "@{/brand/{name}(name = 'Sony')}" method = "get">
              <button type="submit">Sony</button>
            </form>
          </li>

          <li>
            <form th:action = "@{/brand/{name}(name = 'Lenovo')}" method = "get">
              <button type="submit">Lenovo</button>
            </form>
          </li>
          <li>
            <form th:aciton = "@{/brand/{name}(name = 'Vertu')}" method = "get">
              <button type="submit">Vertu</button>
            </form>
          </li>
      </ul>
  </nav>

  <div class = "content">
  <nav id = "price_list">
    <ul>
      <li id = "muc_gia">Mức giá</li>
      <li>
        <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=3, maxPrice=5)}" method = "get">
          <button type = "submit">Từ 3-5 triệu</button>
        </form>
      </li>
      <li>
        <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=5, maxPrice=8)}" method = "get">
          <button type = "submit">Từ 5-8 triệu</button>
        </form>
      </li>
      <li>
        <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=8, maxPrice=11)}" method = "get">
          <button type = "submit">Từ 8-11 triệu</button>
        </form>
      </li>
      <li>
        <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=11, maxPrice=15)}" method = "get">
          <button type = "submit">Từ 11-15 triệu</button>
        </form>
      </li>
      <li>
        <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=15, maxPrice=20)}" method = "get">
          <button type = "submit">Từ 15-20 triệu</button>
        </form>
      </li>
      <li>
        <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=20, maxPrice=9999)}" method = "get">
          <button type = "submit">Trên 20 triệu</button>
        </form>
      </li>
    </ul>
  </nav>
  <div class = "best_sellers">
  <h2>Gợi ý cho bạn: </h2>  
  <nav id = "best_sellers">
        <ul>
           <li>
                <img th:src="@{/css/imgs_oop/Iphone16ProMax.jpg}" alt="kienngu"/>
                <h3>Iphone 16 Pro Max</h3>
           </li>
           <li>
                <img th:src="@{/css/imgs_oop/HuaweiPura70.jpg}" alt="kienngu"/>
                <h3>Huawei Pura 70</h3>
           </li>
           <li>
                <img th:src="@{/css/imgs_oop/SamsungGalaxyZFold6.jpg}" alt="kienngu"/>
                <h3>Samsung Galaxy ZFold 6</h3>
           </li>
           <li>
                <img th:src="@{/css/imgs_oop/XiaomiRedmiNote11.jpg}" alt="kienngu"/>
                <h3>Xiaomi Redmi Note 11</h3>
           </li>
           <li>
                <img th:src="@{/css/imgs_oop/VertuSignatureCobra.jpg}" alt="kienngu"/>
                <h3>Vertu Signature Cobra</h3>
           </li>     
        </ul>
  </nav>
  </div>
  </div>
</body>
</html>