<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ?: 'Danh mục sản phẩm'">Sản phẩm</title>
    <link rel="stylesheet" th:href="@{/css/price-products.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<header class="header">
    <div class="logo">
        <a th:href="@{/back-to-home}">
            <img th:src="@{/css/imgs_oop/Logo.png}" alt="Logo" />
        </a>
    </div>

    <div class = "search">
        <form th:action="@{/search}" method="get">
            <input
                    placeholder = "Tìm kiếm sản phẩm"
                    name = "keyword"
                    id = "tim_kiem"
                    size = "80"
            />
            <button type="submit" id="search_button" class="fa-solid fa-magnifying-glass"></button>
        </form>
    </div>

    <div class = "extra">
        <span class="hotline">Hotline:<br> 0834784586</span>

        <div class ="cart_button">
            <a th:href="@{/cart}">
                <button type="button" id = "cart_button" class="fa-solid fa-cart-plus"></button>
            </a>
        </div>
        <div class="order_history_button">
            <a th:href="@{/order/my-orders}">
                <img th:src="@{/css/imgs_oop/order-history.png}" alt="Order-History" title = "Lịch sử mua hàng" />
            </a>
        </div>
        <div th:if="${username != null}" class="user_section">
            <a th:href="@{/personal}" id = "account" style="color: white; text-decoration: none;">
                <span>
                    Xin chào, <strong th:text="${username}">Username</strong>
                </span>
            </a>
            <div class="log_out">
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Đăng xuất</button>
                </form>
            </div>
        </div>

        <!-- Nếu chưa đăng nhập: hiện Đăng nhập / Đăng ký -->
        <div th:if="${username == null}" style ="margin-top:10px;">
            <a th:href="@{/login}" style="color: white;">Đăng nhập</a> |
            <a th:href="@{/register}" style="color: white;">Đăng ký</a>
        </div>

    </div>
</header>


<div class = "content">
    <nav id = "price_list">
        <ul>
            <li id = "muc_gia">Mức giá</li>
            <li>
                <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=3000000, maxPrice=5000000)}" method = "get">
                    <button type = "submit">Từ 3-5 triệu</button>
                </form>
            </li>
            <li>
                <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=5000000, maxPrice=8000000)}" method = "get">
                    <button type = "submit">Từ 5-8 triệu</button>
                </form>
            </li>
            <li>
                <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=8000000, maxPrice=11000000)}" method = "get">
                    <button type = "submit">Từ 8-11 triệu</button>
                </form>
            </li>
            <li>
                <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=11000000, maxPrice=15000000)}" method = "get">
                    <button type = "submit">Từ 11-15 triệu</button>
                </form>
            </li>
            <li>
                <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=15000000, maxPrice=20000000)}" method = "get">
                    <button type = "submit">Từ 15-20 triệu</button>
                </form>
            </li>
            <li>
                <form th:action = "@{/price/{minPrice}/{maxPrice}(minPrice=20000000, maxPrice=1000000)}" method = "get">
                    <button type = "submit">Trên 20 triệu</button>
                </form>
            </li>
        </ul>
    </nav>
    <div class = "best_sellers">
        <h2>Sản phẩm trong mức giá: </h2>
        <nav id = "best_sellers">
            <ul>
                <li th:each="product : ${products}">
                    <a th:href="@{'/product/' + ${product.id}}">
                        <img th:src="@{'/css/imgs_oop/' + ${product.imageUrl}}" alt="Ảnh" style="width:100px; height:auto">
                    </a>
                    <h3 th:text="${product.title}">Tên sản phẩm</h3>
                    <p th:text="'Giá: ' +${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + 'VNĐ'">Giá</p>
                </li>

            </ul>
        </nav>
    </div>
</div>
</body>
</html>